<!-- <div class="row"> -->
	<div class="col s12 m12 l8 offset-m8 offset-l4">
		<div class="table table-action lighten-1 white-text">
			<table border="1">
				<tr>
				<th>Chef de projet</th>
				<th>Description</th>
				</tr>
				<tr>
				<td>nom1, prenom1 </td>
				<td>Description 1</td>
				</tr>
				<tr>
				<td>nom2, prenom2</td>
				<td>Description 2</td>
				</tr>
				<tr>
					<td>nom3, prenom3</td>
					<td>Description 3</td>
				</tr>
				</table>

				

				<div class="form-group" data-toggle="buttons" align="center" >
					<label class="btn btn-info active" style="margin-right:40px;">
						<input type="radio" name="handle_type" id="option1" >Ajouter
					</label>
					<label class="btn btn-info active "  style="margin-right:40px;">
						<input type="radio" name="handle_type" id="option2">Modifier
					</label>
					<label class="btn btn-info active" >
						<input type="radio" name="handle_type" id="option3">Supprimer
					</label>
				</div>
		</div>
	</div>
<!-- </div> -->