<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <ul id="menu" data-target="slide-out" class="sidenav-trigger hide-on-med-and-down show-on-large">
                <li><a><i class="material-icons">menu</i></a></li>
            </ul>
            <ul id="home" class="hide-on-med-and-down">
                <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
            </ul>
                  
            <ul id="listIcons" class="right">
               
                <li>
                    <a id="logout" href="/login"
                       data-position="bottom"
                        data-tooltip=" Logout">
                        <i class="large material-icons">bug_report</i>
                    </a>
                </li>
            </ul>


            <form action="" class="browser-default right">
                <input id="search-input" placeholder="Search" type="text" class="browser-default search-field" name="q"
                    value="" autocomplete="off" aria-label="Search box">
                <label for="search-input"><i class="material-icons search-icon">search</i></label>
                <i class="material-icons search-close-icon">cancel</i>
                <div class="search-popup">
                    <div class="search-content">
                        <label class="search-heading">Most Visited</label>
                        <ul class="popup-list">
                            <li class=""><a class="grey-text" href="#">Google</a></li>
                            <li class=""><a class="grey-text" href="#">Apple</a></li>
                            <li class=""><a class="grey-text" href="#">Microsoft</a></li>
                            <li class=""><a class="grey-text" href="#">Github</a></li>
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </nav>
</div>

<ul id="slide-out" class="sidenav center">
    <!-- <li>
        <img style="margin-top: 5%;" width="200" height="100"
            src="https://worldline.com/content/dam/gotomarket/logo/logo-worldline.png" class="responsive-img" />
    </li> -->
    <li><a id="home" routerLink="/vendeur" routerLinkActive="active">Home</a></li>
    <li><a id="project" routerLink="/login" routerLinkActive="active">Login</a></li>
    <li><a id="project" routerLink="/vendeur" routerLinkActive="active">Vendeur</a></li>
    <li><a id="project" routerLink="/cdm" routerLinkActive="active">Chef de magasin</a></li>
    <li><a id="project" routerLink="/pdg" routerLinkActive="active"> PDG</a></li>
  
    <!-- <li><a id="feature" routerLink="/feature" routerLinkActive="active">Feature</a></li>
    <li><a id="about" routerLink="/feature" routerLinkActive="active">About</a></li>
    <li><a id="contact" routerLink="/contact" routerLinkActive="active">Contact</a></li>
    <li>
        <div class="divider"></div>
    </li> -->
    <!-- <li><a class="sidenav-close">Collapse</a></li> -->
</ul>