<div class="row">
    <div class="col s12 m8 l4 offset-m2 offset-l4">

        <h4>Modification</h4>
        <br>
        <form>
            <fieldset>

                <p>Serial: <input type="text" [(ngModel)]="article.serial" placeholder="Serial" name="serial"
                        class="form-control" id="serial" #serial="ngModel"></p>
                <div *ngIf="!serial.value" style="color:red;">
                    Serial is empty
                </div>
                <!-- class="form-control" id="serial" #serial="ngModel" value={{article.serial}} ngModel></p> -->
                <p>Name: <input type="text" [(ngModel)]="article.name" placeholder="Name" name="name"
                        class="form-control" id="name" #name="ngModel"> </p>
                <div *ngIf="!name.value" style="color:red;">
                    Name is empty
                </div>
                <p>Categorie: <input type="text" [(ngModel)]="article.categorie" placeholder="Categorie"
                        name="categorie" class="form-control" id="categorie" #categorie="ngModel"></p>
                <div *ngIf="!categorie.value" style="color:red;">
                    Categorie is empty
                </div>
                <p>Description: <input type="text" [(ngModel)]="article.description" placeholder="Description"
                        name="description" class="form-control" id="description" #description="ngModel"></p>
                <div *ngIf="!description.value" style="color:red;">
                    Description is empty
                </div>
                <p>Prix: <input type="text" [(ngModel)]="article.prix" placeholder="Prix" name="prix"
                        class="form-control" id="prix" #prix="ngModel"></p>
                <div *ngIf="!prix.value" style="color:yellow;">
                    Prix is empty(zero by default)
                </div>
                <p>Quantite: <input type="text" [(ngModel)]="article.quantite" placeholder="Quantite" name="quantite"
                        class="form-control" id="quantite" #quantite="ngModel"></p>
                <div *ngIf="!quantite.value" style="color:yellow;">
                    Quantite is empty(zero by default)
                </div>
            </fieldset>
            <br>
            <div class="form-group" data-toggle="buttons" align="center">
                <button class="btn btn-success" (click)="modifyArticle()" style=" margin:5px;">Modifier</button>
                <button class="btn btn-success" (click)="annuler()" style=" margin:5px;">Annuler</button>
            </div>
        </form>
    </div>
</div>