
.card-action lighten-1 white-text{
    color:white;
    background-color: rgb(200, 201, 246);
    text-align:center;
}

.btn {
    // position: absolute;
    position: relative;
    text-align: center;
    bottom: 0;
    font-size: 16px;
    color: #000000;
    margin: 25px 0;
    width: 200px;
    height: 45px;
    line-height: 45px;
    background: #E0E0E0;
    border-radius: 1px;
    background-color:#fdcbcc;
    left: 5%;
    transform: translateX(-50%);
}