<main>
    <div class="container">
        <div style="text-align:center">
            <h4>
                {{ title }}
            </h4>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 l6">
            <div style="padding: 10px;" align="center" class="card">
                <div class="row">
                    <div class="center card-title">
                        <b>CVP</b>
                    </div>
                </div>

                <div class="row">
                    <div class="lighten-3 col s3 waves-effect">
                        <img class="img-responsive" src="assets/img/sun.jpg">
                    </div>
                    <div class="col s5">
                        <ul class="tabs">
                            <li class="tab col s6"><a class="active" href="#descriptionCVP">description</a></li>
                            <li class="tab col s6"><a href="#noteCVP">note</a></li>
                        </ul>

                        <div id="descriptionCVP" class="col s12 tabs-content">
                            <p>description</p>
                        </div>
                        <div id="noteCVP" class="col s12 tabs-content">
                            <p>note</p>
                        </div>
                    </div>

                    <div class="lighten-3 col s4 waves-effect">
                        <!-- <canvas id="chartCVP" width="150" height="200"></canvas> -->
                        <canvas id="chartCVP" width="150" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l6">
            <div style="padding: 10px;" align="center" class="card">
                <div class="row">
                    <div class="center card-title">
                        <b>RCS</b>
                    </div>
                </div>

                <div class="row">
                    <div class="lighten-3 col s3 waves-effect">
                        <img class="img-responsive" src="assets/img/nuage.jpg">
                    </div>
                    <div class="col s5">
                        <ul class="tabs">
                            <li class="tab col s6"><a class="active" href="#descriptionRCS">description</a></li>
                            <li class="tab col s6"><a href="#noteRCS">note</a></li>
                        </ul>

                        <div id="descriptionRCS" class="col s12 tabs-content">
                            <p>description</p>
                        </div>
                        <div id="noteRCS" class="col s12 tabs-content">
                            <p>note</p>
                        </div>
                    </div>

                    <div class="lighten-3 col s4 waves-effect">
                        <canvas id="chartRCS" width="150" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6 l6">
            <div style="padding: 10px;" align="center" class="card">
                <div class="row">
                    <div class="center card-title">
                        <b>CHP</b>
                    </div>
                </div>

                <div class="row">
                    <div class="lighten-3 col s3 waves-effect">
                        <img class="img-responsive" src="assets/img/rain.jpg">
                    </div>
                    <div class="col s5">
                        <ul class="tabs">
                            <li class="tab col s6"><a class="active" href="#descriptionCHP">description</a></li>
                            <li class="tab col s6"><a href="#noteCHP">note</a></li>
                        </ul>

                        <div id="descriptionCHP" class="col s12 tabs-content">
                            <p>description</p>
                        </div>
                        <div id="noteCHP" class="col s12 tabs-content">
                            <p>note</p>
                        </div>
                    </div>

                    <div class="lighten-3 col s4 waves-effect">
                        <canvas id="chartCHP" width="150" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m6 l6">
            <div style="padding: 10px;" align="center" class="card">
                <div class="row">
                    <div class="center card-title">
                        <b>SIM²</b>
                    </div>
                </div>

                <div class="row">
                    <div class="lighten-3 col s3 waves-effect">
                        <img class="img-responsive" src="assets/img/fire.jpg">
                    </div>
                    <div class="col s5">
                        <ul class="tabs">
                            <li class="tab col s6"><a class="active" href="#descriptionSIM">description</a></li>
                            <li class="tab col s6"><a href="#noteSIM">note</a></li>
                        </ul>

                        <div id="descriptionSIM" class="col s12 tabs-content">
                            <p>description</p>
                        </div>
                        <div id="noteSIM" class="col s12 tabs-content">
                            <p>note</p>
                        </div>
                    </div>

                    <div class="lighten-3 col s4 waves-effect">
                        <canvas id="chartSIM" width="150" height="200"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>