<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <ul id="menu" data-target="slide-out" class="sidenav-trigger hide-on-med-and-down show-on-large">
                <li><a><i class="material-icons">menu</i></a></li>
            </ul>
            <ul id="home" class="hide-on-med-and-down">
                <li><a routerLink="/articles" routerLinkActive="active">Home</a></li>
            </ul>

            <ul id="listIcons" class="right">

                <li>
                    <a *ngIf="loginService.isUserLoggedIn()" id="logout" href="/logout" data-position="bottom"
                        data-tooltip=" Logout">
                        <i class="large material-icons">logout</i>
                    </a>
                </li>
            </ul>


            <!-- <form action="" class="browser-default right">
                <input id="search-input" placeholder="Search" type="text" class="browser-default search-field" name="q"
                    value="" autocomplete="off" aria-label="Search box">
                <label for="search-input"><i class="material-icons search-icon">search</i></label>
                <i class="material-icons search-close-icon">cancel</i>
                <div class="search-popup">
                    <div class="search-content">
                        <label class="search-heading">Most Visited</label>
                        <ul class="popup-list">
                            <li class=""><a class="grey-text" href="#">Google</a></li>
                            <li class=""><a class="grey-text" href="#">Apple</a></li>
                            <li class=""><a class="grey-text" href="#">Microsoft</a></li>
                            <li class=""><a class="grey-text" href="#">Github</a></li>
                        </ul>
                    </div>
                </div>
            </form> -->
        </div>
    </nav>
</div>

<ul id="slide-out" class="sidenav center">
    <li><a id="home" routerLink="/articles" routerLinkActive="active">Home</a>
    </li>
    <li><a *ngIf="loginService.isPermissionChefMagasin()" id="vendeurs" routerLink="/vendeurs"
            routerLinkActive="active">Vendeur</a></li>
    <li><a *ngIf="loginService.isPermissionPdg()" id="chefmagasins" routerLink="/chefmagasins"
            routerLinkActive="active">Chef de magasin</a></li>
    <li>
        <div class="divider"></div>
    </li>
    <li><a *ngIf="loginService.isUserLoggedIn()" id="logout" routerLink="/logout" routerLinkActive="active">Logout</a>
    </li>
</ul>