<!-- <div class="row"> -->
<div class="col s12 m12 l8 offset-m8 offset-l4">

	<div style="color:rgb(2, 59, 105);">
		<table border=" 1" class="highlight centered responsive-table">
			<thead style="background: #b306ca; text-align: center">
				<tr>
					<th>Serial</th>
					<th>Article Name</th>
					<th>Catégorie</th>
					<th>Description</th>
					<th>Prix</th>
					<th>Quantité</th>
					<th>Vendeur</th>
					<th>Modification</th>
					<th>Suppression</th>
				</tr>
			</thead>
			<tbody style="background: #c8c9f6; text-align: center">
				<tr *ngFor="let article of articles">
					<td>{{article.serial}}</td>
					<td>{{article.name}}</td>
					<td>{{article.categorie}}</td>
					<td>{{article.description}}</td>
					<td>{{article.prix}}</td>
					<td>{{article.quantite}}</td>
					<td>{{article.vendeurName}}</td>
					<td><button class="btn btn-success" (click)="deleteArticle(article)">Supprimer</button></td>
					<td><button class="btn btn-success" (click)="modifyArticle(article)">Modifier</button></td>
				</tr>
			</tbody>

		</table>
	</div>
	<br><br><br>
	<div class="form-group" data-toggle="buttons" align="center">
		<button *ngIf="loginService.isVendeur()" class="btn btn-success" (click)="addArticle()">Ajouter</button>
		<!-- <label class="btn">
			<a href="article">Ajouter</a>
		</label> -->
		<!-- <label class="btn btn-info active " style="margin-right:40px;">
			<a href="article"> Modifier</a>
		</label>
		<label class="btn btn-info active">
			<a href="vendeur"> Supprimer</a>
		</label> -->
	</div>


	<!-- </div> -->
</div>
<!-- </div> -->